@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.link-box {
  margin-bottom: 5px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-direction {
  display: flex;
  flex-direction: column;
}
