@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

body {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 75%,
    rgba(136, 136, 136, 1) 100%
  );
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.link-box {
  margin-bottom: 5px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-direction {
  display: flex;
  flex-direction: column;
}
